@model GerenciamentoEstoque.Web.ViewModels.LojaViewModel

@{
    ViewData["Title"] = "Detalhes";
}
<br />
<h3>Detalhes</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco):
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
    </dl>
</div>
<hr />
<div>
    <input type="button" class="btn btn-danger" value="Voltar" onclick="history.back()">
    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Editar</a>

</div>
