@model IEnumerable<GerenciamentoEstoque.Web.ViewModels.ItemEstoqueViewModel>

@{
    ViewData["Title"] = "Lista de Estoques";
}

<h3 class="text-center">Lista de Estoques</h3>
<hr />
<p class="text-center">
    <a class="btn btn-success" asp-action="Create">Adicionar Item no Estoque</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Loja">Acessar Lojas Cadastradas</a>
</p>
<table id="table" class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lojas.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produtos.Preco)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lojas.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtos.Nome)
                </td>
                <td>
                   @Html.DisplayFor(modelItem => item.Produtos.Preco)
                </td>
                <td>
                    <a class="btn btn-success" asp-action="Edit" asp-route-idProduto="@item.ProdutoId" asp-route-idLoja="@item.LojaId">Editar</a>
                    <a class="btn btn-warning" asp-action="Details" asp-route-idProduto="@item.ProdutoId" asp-route-idLoja="@item.LojaId">Detalhes</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-idProduto="@item.ProdutoId" asp-route-idLoja="@item.LojaId">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#table').DataTable({
                "oLanguage": {
                    "sSearch": "",
                    "sSearchPlaceholder": "Pesquisar..."
                },
                language: {
                    url: '//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese-Brasil.json',
                }
            });
        });
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
}
